.App {
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.AddTodo {
  display: flex;
}

.AddTodoInput, .EditTodoInput, .TodoText {
  width: 80%;
  height: 25px;
  font-size: 20px;
}

.AddTodoButton, .RemoveTodo, .EditTodo, .EditTodoSave, .EditTodoCancel {
  margin-left: 5px;
  height: 30px;
  vertical-align: bottom;
  border-radius: 7px;
  font-size: 15px;
  text-transform: uppercase;
  flex-grow: 1;
}

.Todo {
  border: 1px solid #ededed;
  border-radius: 5px;
  margin: 10px 0px;
  padding: 1px;
  display: flex;
}